.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-modal {
    background: white;
    height: 700px;
    width: 700px;
    .submit {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      button {
        width: 100px;
        height: 30px;
        cursor: pointer;
      }
    }
    .big-title {
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      margin: 20px 0;
    }
    .row-input {
      display: flex;
      align-items: center;
      .title {
        margin: 0;
        width: 150px;
        padding: 10px 15px;
        border: none;
      }
      .input {
        height: 30px;
        width: calc(100% - 200px);
        outline: none;
      }
    }
  }
}
.admin {
  margin-top: 50px;
  background: white;
  height: 80vh;
  .password {
    padding: 30px 0;
    margin: 0 auto;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    gap: 15px;

    .menu-item {
      margin: 0 10px;
      font-size: 16px;
      color: #333;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #333;
        border-radius: 5px;
      }
    }
    .active {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .step-two {
    display: flex;
    height: 100%;
    .user-table {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: #333;
      background-color: #f2f2f2;
      border-radius: 10px;
      overflow: hidden;

      .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #333;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;

        div {
          flex: 1;
          text-align: center;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }

      .table-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &:hover {
          background-color: #ddd;
        }

        div {
          flex: 1;
          text-align: center;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }

        button {
          border: none;
          background-color: #f00;
          color: #fff;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.movie-manage {
  border: 1px solid #ccc;
  padding: 16px;
  font-family: Arial, sans-serif;
  margin: 20px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 8px;
    height: 40px;
    &-cell {
      flex: 1;
      text-align: center;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    height: 40px;
    .movie-manage-cell {
      flex: 1;
      text-align: center;
    }
  }

  &-edit-button {
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    cursor: pointer;
  }

  &-save-button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    cursor: pointer;
  }

  &-cancel-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
  }

  &-add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  &-add-button {
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
}

.danh-muc {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .namSanXuat {
    height: 500px;
    overflow-y: auto;
  }

  .table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 250px;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem 0;

      &:last-child {
        border-bottom: none;
      }

      div {
        flex: 1;
      }

      .action-buttons {
        display: flex;

        button {
          background-color: #0077ff;
          color: #fff;
          border: none;
          padding: 0.5rem;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #005eff;
          }
        }
      }
    }
  }

  button {
    background-color: #0077ff;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #005eff;
    }
  }
}

.addnamsx {
  height: 40px;
  margin-top: 10px;
  width: 120px;
  margin-right: 10px;
}
